/*==============#BASE STYLE================*/
body
	font $font_size $font_segoe_regular

h1,h2,h3
	font-family $font_segoe_semibold
	
h1
	font-size 24px
	
h2
	font-size 18px
	
h3
	font-size 16px
	
ul
	list-style none
	margin 0
	padding 0

.cf:before, .cf:after
	content ""
	display table

.cf:after
	clear both

.btn
	// text-transform uppercase
	text-decoration none
	touch-action manipulation
	display inline-block
	vertical-align middle
	line-height 1
	border-radius 3px
	padding 9px 14px
	&--transp
		btn-transparent()
		text-uppercase(true)
	&--secondary
		btn-secondary()
		&:hover
			// btn-default()
	&--default
		btn-default()
		&:hover
			// btn-special()
	&--special
		btn-special()
		text-uppercase(true)
	&--success
		btn-success()
	// &--lg {
	// 	padding 18px 14px
	// }
	// &--md {
	// 	padding 9px 14px
	// }
	// &--sm {
	// 	padding 6px 13px
	// }