// #VAR_PATH_IMAGES
// $varname = value;


$border_radius = 5px !default


// #VAR_COLOR
$base_color = #000 !default

// #VAR_FONTS
$font_size = 14px !default
$font_segoe_regular = "SegoeUIRegular", Arial, Helvetica, sans-serif !default
$font_segoe_semibold = "SegoeUISemiBold", Arial, Helvetica, sans-serif !default

// COMPONENTS

// COMPONENTS_BUTTONS
// $btn_default_background_color = #AFC24B
// $btn_default_border_color = darken($btn_default_background_color, 10%)
	
// $btn_primary_background_color = #AFC24B
// $btn_primary_border_color = darken($btn_primary_background_color, 10%)

// $btn_info_background_color = #AFC24B
// $btn_info_border_color = darken($btn_info_background_color, 10%)

// btn-transparent
$btn_transparent_background_color = transparent
$btn_transparent_color = #7b848a
$btn_transparent_border_color = lighten($btn_transparent_color, 21%)

// btn-secondary
$btn_secondary_background_color = #ffffff
$btn_secondary_color = #7b848a
$btn_secondary_border_color = lighten($btn_secondary_color, 21%)

// btn-default
$btn_default_background_color = #afc24b
$btn_default_color = #ffffff

// btn-special
$btn_special_background_color = #276075
$btn_special_color = #ffffff

// btn-success
$btn_success_background_color = #e9b811
$btn_success_color = #ffffff