// #VAR_PATH_IMAGES
// $varname = value;


$border_radius = 5px !default


// #VAR_COLOR
$base_color = #000 !default

// #VAR_FONTS
$font_size = 14px !default
$font_segoe_regular = "SegoeUIRegular", Arial, Helvetica, sans-serif !default
$font_segoe_semibold = "SegoeUISemiBold", Arial, Helvetica, sans-serif !default

// COMPONENTS

// COMPONENTS_BUTTONS
$btn_background_color = #AFC24B
$btn_border_color = darken($btn_background_color, 10%) !default